<header>
<div class="wrapper d-flex flex-column flex-md-row align-items-center text-center text-md-start py-5 px-5 px-md-3 px-lg-5">
	<div class="header-content mb-4">
		<h1 class="mb-3 text-balance">Simplifie vos déploiements CI/CD</h1>
		<p class="h4 text-balance">Accélérez vos Déploiements Symfony avec un Pipeline CI/CD Automatisé</p>
	</div>
	<div class="header-illustration p-0 p-md-3 p-lg-5">
	    <img src="{{ asset('images/cicd-pipeline.svg') }}" alt="cicd illustration">
    </div>
</div>
</header>
