@use '../base/' as b;
@use '../utils/' as u;

.btn {
  border: none;
  box-shadow: u.$shadow-sm;
  transition: all 0.3s ease-in-out;
  height: 2.35rem;
}
.btn-primary {
  background-color: b.$primary;
}
.btn-secondary {
  background-color: b.$grey;
}
.btn-success {
  background-color: b.$success;
}
.btn-warning {
  background-color: b.$warning;
}
.btn-danger {
  background-color: b.$danger;
}

.btn[disabled],
.btn:focus-visible,
.btn-check:checked + .btn,
.btn.active,
.btn:first-child:active,
:not(.btn-check) + .btn:active,
.btn-primary:hover {
  background-color: b.$secondary;
  box-shadow: none;
}

.btn-dark:hover {
  &.btn[disabled],
  &.btn:focus-visible,
  &.btn-check:checked + .btn,
  &.btn.active,
  &.btn:first-child:active,
  &:not(.btn-check) + .btn:active {
    background-color: b.$dark;
  }
}

#scrollToTopBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.6);
}

#prevSlideBtn,
#nextSlideBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 1.3rem;
    width: auto;
  }
}

#scrollToTopBtn.is-active {
  opacity: 1;
  transform: scale(1);
}