@use '../utils/' as *;
.wave {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 3rem;
  @include md {
    height: 4rem;
  }
  @include xl {
    height: 5rem;
  }
  z-index: -1;
}
.wave-top {
  top: -3rem;
  @include md {
    top: -4rem;
  }
  @include xl {
    top: -5rem;
  }
}
.wave-bottom {
  bottom: -3rem;
  @include md {
    bottom: -4rem;
  }
  @include xl {
    bottom: -5rem;
  }
  transform:  translateX(-50%) rotate(180deg);
}
