@use '../utils' as *;
.container-homepage {
  @include sm {
    grid-template-columns: 1fr;
  }
  .section {
    margin-block: 3rem;
    &:nth-child(even)::before {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      height: 100%;

      background-color: rgb(252, 244, 236);
    }
    img {
      height: 20rem;
      margin: auto;
      border-radius: .75rem;
    }
    &.section-ltr,
    &.section-rtl {
      position: relative;
      .wrapper > * {
        flex: 1;
      }
    }
    &.section-rtl::before {
      position: absolute;
      top: 0;
      width: 120vw;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      background-color: #ff996221;
      overflow: hidden;
    }
  }
}
