@use '../base' as b;
@use '../utils' as u;

.container-login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3.5rem);
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 120vw;
    height: calc(100% + 3rem);
    background-color: b.$primary;
    z-index: -1;
  }
  form {
    box-shadow: u.$shadow-lg;
    width: clamp(350px, 25vw, 450px);
    padding: 2rem;
    border: 1px solid lightblue;
    background-color: b.$light;
    border-radius: 0.75rem;
  }
}
