@use '../base' as b;
@use '../utils' as u;

.container-register {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3.5rem);
  padding-top: 6.5rem;
  padding-bottom: 3rem;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 120vw;
    height: calc(100% + 3rem);
    background-color: b.$primary;
    z-index: -1;
  }
  form {
    display: flex;
    flex-direction: column;
    box-shadow: u.$shadow-lg;
    width: clamp(350px, 25vw, 450px);
    padding: 1rem;
    @include u.sm {
      padding: 2rem;
    }
    border: 1px solid lightblue;
    background-color: b.$light;
    border-radius: 0.75rem;
  }
}
