@use '../utils' as *;

.container {
  section {
    padding-block: 5rem;
    @include md {
      padding-block: 7rem;
    }
  }
  .section {
    &:nth-child(even)::before {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgb(252, 244, 236);
    }
    & > div:not(.wrapper-illustration-xl) img {
      height: 100%;
      margin: auto;
      object-fit: contain;
      border-radius: 0.75rem;
      @include md {
        height: 20rem;
      }
    }
    &.section-ltr,
    &.section-rtl {
      position: relative;
      .wrapper > * {
        flex: 1;
      }
    }
    &.section-rtl::before {
      position: absolute;
      top: 0;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      background-color: #ff996221;
      overflow: hidden;
    }
  }
}
