header {
  margin-top: 3.5rem;
  background-color: #ff9861;
  .wrapper {
    max-width: 1200px;
    margin: auto;
    h1 {
      max-width: 21ch;
      color: white;
      line-height: 1.35;
    }
    p {
      max-width: 36ch;
      line-height: 1.35;
    }
  }
}
