@use '../base' as b;
@use '../utils' as u;

nav.navbar {
  width: 100vw;
  transition: 0s background-color ease-in-out, 0s color ease-in-out;
  font-size: 1rem;
  background-color: b.$light;
  box-shadow: u.$shadow-sm;
  color: inherit;
  &:first-child() {
    max-width: 1500px;
  }
  .nav-item{
    &:hover .nav-link:not(.active){
      color: rgb(14, 14, 14);
    }
    .nav-link {
      transition: color 0.35s ease-in-out;
      color: rgba(74, 74, 74, 0.735);
      &.active{
        color: #ff7b33;
      }
    }
  }
}