<header>
<div class="wrapper d-flex flex-column flex-md-row align-items-center mx-auto text-center text-md-start py-5 px-5 px-md-3 px-lg-5">
	<div class="header-content mb-4 ">
		<h1 class="mb-3 mx-auto text-balance">La magie derrière le rideau</h1>
		<p class="h4 text-balance">Découvrez les coulisses d'un pipeline pensé pour révolutionner vos déploiements.</p>
	</div>
	<div class="header-illustration p-0 p-md-3 p-lg-5">
	    <img src="{{ asset('images/cicd-pipeline.svg') }}" alt="illustration cicd">
    </div>
</div>
</header>
