$primary: #FF9862;
$secondary: #ff7d36;
$success: #6caf00;
$danger: #d7090f;
$warning: #e5991b;
$light: #FFF2EB;
$light-blue: #8d919b93;
$grey: #45474b;
$dark: #202124;

.bg-light-orange {
    background-color: #ff996221;
}